<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniConnect</title>
    <link rel="stylesheet" href="~/css/mainstyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="~/img/ej (1).png">
            <h1>UniConnect</h1>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="campusnews.html">Campus News</a></li>
                <li><a href="newupdates.html">New Updates</a></li>
                <li><button class="sign-in">Sign In</button></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <h2 class="one"> <b class="red">UniConnect </b> - Your Campus</h2>
    <h2 class="two"> Community Hub. Connect. Share. </h2>
    <h2 class="three">Discover.</h2>
        <div class="search-bar">
            <input type="text" placeholder="Search now...">
            <button>Search Now</button>
        </div>
        <img src="white.jpg" alt="" class="white">
    </section>
    
    <h1 class="title">Discover Campus</h1>
    <div class="container">
        <div class="card" >
           <a href="">
            <span class="material-icons card-icon"> school</span>
            <span class="card-text" >Professors & Staff</span>
           </a>
        </div>
        <div class="card">
            <a href="">
            <span class="material-icons card-icon">article</span>
            <span class="card-text">News & Updates</span>
            </a>
        </div>
        <div class="card">
            <a href="">
            <span class="material-icons card-icon">event</span>
            <span class="card-text">Events</span>
            </a>
        </div>

        <div class="card">
            <a href="">
            <span class="material-icons card-icon">business</span>
            <span class="card-text">Buildings</span>
            </a>
        </div>
        <div class="card">
            <a href="">
            <span class="material-icons card-icon">restaurant</span>
            <span class="card-text">Food & Dining</span>
            </a>
        </div>
        <div class="card">
            <a href="">
            <span class="material-icons card-icon">directions_bus</span>
            <span class="card-text">Bus Schedules</span>
            </a>
        </div>
    </div>
    
     <h1 class="title"> Latest Updates</h1>
    <div class="container2"> 
        <div class="card2">
            <a href="">
            <img src="~/img/SEA.jpeg" alt="Opening Day of Sailing Season, Seattle WA">
            <div class="card2-content">
                <div class="card2-title"><b> Day of Sailing Season, Seattle WA</b></div>
                <div class="card2-description">Join us as we celebrate sailing with music and more. There is something for everyone!</div>
            </div>
            </a>
        </div>
        <div class="card2">
            <a href="">
            <img src="~/img/labtob.jpeg" alt="How To Choose The Right Laptop">
            <div class="card2-content">
                <div class="card2-title"><b>How To Choose The Right Laptop</b></div>
                <div class="card2-description">Choosing the right laptop can be tricky. Here’s a handy guide to help you make the best decision.</div>
            </div>
            </a>
        </div>
        <div class="card2">
            <a href="">
            <img src="~/img/car.jpeg" alt="How To Buy The Best Electric Car" class="car2">
            <div class="card2-content">
                <div class="card2-title"><b> How To Buy The Best Electric Car</b></div>
                <div class="card2-description">Learn about the latest models and how to select the perfect electric car for your needs.</div>
            
            </div>
            </a>
        </div>
    
    </div>


    <script src="~/js/mainscript.js"></script>
</body>
</html>
