<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search a Professor</title>
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="icon" type="image/x-icon" href="./img/user-graduate-solid.svg">
  </head>
  <body>
    <main class="container fade-in">
      <section class="hero">
        <div class="main_hero">
          <h1 class="fade-in-text">
            Meet our team of 
            <span>geniuses,</span><br />
            <span>innovative thinkers,</span>and <br />
            world-class <span>problem solvers</span>
            
          </h1>
          <img src="./img/book.png" alt="book" id="book" class="fade-in" />
        </div>
        <div class="search">
          <form action="" method="post">
            <div class="content">
              <label for="search">Search for an Academic</label>
              <input type="text" name="search" />
            </div>

            <button type="submit">Search</button>
          </form>
        </div>
      </section>

      <section class="deans fade-in">
        <h2>Meet our Deans</h2>

        <div class="dean_cards">
          <div class="card fade-in">
            <img
              src="https://miro.medium.com/v2/resize:fit:1400/0*kOxtr_2CJzI1K9r6.jpg"
              alt="dean1"
            />
            <h3>Dean 1</h3>
            <p>Dean 1's Bio</p>
            <div class="social-icons">
              <a
                href="https://www.linkedin.com/in/dean1-profile"
                target="_blank"
                aria-label="LinkedIn"
              >
                <i class="fab fa-linkedin"></i>
              </a>
              <a
                href="https://www.researchgate.net/profile/Dean1-Profile"
                target="_blank"
                aria-label="ResearchGate"
              >
                <i class="fab fa-researchgate"></i>
              </a>
            </div>
          </div>
          <div class="card fade-in">
            <img
              src="https://i.ytimg.com/vi/RjBmQRWCfD8/maxresdefault.jpg"
              alt="dean2"
            />
            <h3>Dean 2</h3>
            <p>Dean 2's Bio</p>
            <div class="social-icons">
              <a
                href="https://www.linkedin.com/in/dean1-profile"
                target="_blank"
                aria-label="LinkedIn"
              >
                <i class="fab fa-linkedin"></i>
              </a>
              <a
                href="https://www.researchgate.net/profile/Dean1-Profile"
                target="_blank"
                aria-label="ResearchGate"
              >
                <i class="fab fa-researchgate"></i>
              </a>
            </div>
          </div>
          <div class="card fade-in">
            <img
              src="https://www.melamorsicata.it/wp-content/uploads/2020/05/avatar-WWDC.jpg"
              alt="dean3"
            />
            <h3>Dean 3</h3>
            <p>Dean 3's Bio</p>
            <div class="social-icons">
              <a
                href="https://www.linkedin.com/in/dean1-profile"
                target="_blank"
                aria-label="LinkedIn"
              >
                <i class="fab fa-linkedin"></i>
              </a>
              <a
                href="https://www.researchgate.net/profile/Dean1-Profile"
                target="_blank"
                aria-label="ResearchGate"
              >
                <i class="fab fa-researchgate"></i>
              </a>
            </div>
          </div>
            <div class="card fade-in">
            <img
                src="https://miro.medium.com/v2/resize:fit:1400/0*kOxtr_2CJzI1K9r6.jpg"
                alt="dean1"
            />
            <h3>Dean 1</h3>
            <p>Dean 1's Bio</p>
            <div class="social-icons">
                <a
                href="https://www.linkedin.com/in/dean1-profile"
                target="_blank"
                aria-label="LinkedIn"
                >
                <i class="fab fa-linkedin"></i>
                </a>
                <a
                href="https://www.researchgate.net/profile/Dean1-Profile"
                target="_blank"
                aria-label="ResearchGate"
                >
                <i class="fab fa-researchgate"></i>
                </a>
            </div>
            </div>
            <div class="card fade-in">
            <img
                src="https://i.ytimg.com/vi/RjBmQRWCfD8/maxresdefault.jpg"
                alt="dean2"
            />
            <h3>Dean 2</h3>
            <p>Dean 2's Bio</p>
            <div class="social-icons">
                <a
                href="https://www.linkedin.com/in/dean1-profile"
                target="_blank"
                aria-label="LinkedIn"
                >
                <i class="fab fa-linkedin"></i>
                </a>
                <a
                href="https://www.researchgate.net/profile/Dean1-Profile"
                target="_blank"
                aria-label="ResearchGate"
                >
                <i class="fab fa-researchgate"></i>
                </a>
            </div>
            </div>
            <div class="card fade-in">
            <img
                src="https://www.melamorsicata.it/wp-content/uploads/2020/05/avatar-WWDC.jpg"
                alt="dean3"
            />
            <h3>Dean 3</h3>
            <p>Dean 3's Bio</p>
            <div class="social-icons">
                <a
                href="https://www.linkedin.com/in/dean1-profile"
                target="_blank"
                aria-label="LinkedIn"
                >
                <i class="fa-brands fa-linkedin"></i>
                </a>
                <a
                href="https://www.researchgate.net/profile/Dean1-Profile"
                target="_blank"
                aria-label="ResearchGate"
                >
                <i class="fab fa-researchgate"></i>
                </a>
            </div>
        </div>
      </section>
      <section class="team fade-in">
        <h1>Join our growing Team !</h1>
        <p>
          We love What we do and we do it with Passion . We value <br />
          the experimentation of the message and smart incentives
        </p>
        <button>See our current Openening</button>
        <img src="./img/team.png" alt="team" class="fade-in" />
      </section>
    </main>

    <script src="script.js"></script>
  </body>
</html>
