/* General Footer Styling */
.footer {
    margin: 0;
    background-color: #333;
    color: #fff;
    padding: 50px 0 20px;
    text-align: center;
    font-family: Arial, sans-serif;

}

.container {
    max-width: xl;
    /* margin: 0 auto; */
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    margin: 20px 50px;
}

/* Logo Styling */
.footer-logo .logo {
    max-width: 30rem;
    height: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Links Styling */
.footer-links, .footer-social {
    flex: 1;
    margin: 10px;
    margin-top: -15px;
}

.footer-links h4, .footer-social h4 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-links ul, .footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li, .footer-social ul li {
    margin-bottom: 10px;
}

.footer-links ul li a, .footer-social ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover, .footer-social ul li a:hover {
    color: #dc1014;
}

/* Footer Bottom Styling */
.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .footer-logo, .footer-links, .footer-social {
        text-align: center;
        margin: 10px 0;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .footer-logo .logo {
        max-width: 80%;
    }

    .footer-links h4, .footer-social h4 {
        font-size: 16px;
    }

    .footer-links ul li, .footer-social ul li {
        margin-bottom: 8px;
    }
}

@media (max-width: 450px) {
    .footer {
        padding: 15px 0;
    }

    .footer-logo .logo {
        max-width: 70%;
    }

    .footer-links h4, .footer-social h4 {
        font-size: 14px;
    }

    .footer-links ul li a, .footer-social ul li a {
        font-size: 12px;
    }

    .footer-bottom {
        margin-top: 15px;
        padding-top: 8px;
    }
}